/* 首頁最新消息 */
ul.wp-block-latest-posts {
  margin: 0;
  list-style: none;
}
.wp-block-latest-posts__post-date {
	font-size: 14px;
  font-weight: bold;
	line-height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #0068B6;
  pointer-events: none;
}

ul.wp-block-latest-posts li {
	border-radius: 7px;
	width: 100%;
	/* display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex; */
  margin-bottom: 10px;
  position: relative;
}
ul.wp-block-latest-posts li a {
  background: none;
  background-color: #FFF4CC;
  border: 8px solid #FFF4CC;
  outline: 3px solid #FFE972;
  border-radius: 5px;
  outline-offset: -8px;
  padding: 32px 12px 12px;
	color: #4B4848;
	font-size: 18px;
	line-height: 20px;
  font-weight: bold;
  display: block;
  transition: all .25s ease-in-out;
  letter-spacing: 1px !important;
}
ul.wp-block-latest-posts li a:hover, ul.wp-block-latest-posts li a:focus {
  background: none;
  background-color: #FDD000;
  outline: 3px solid #FFF4CC;
  border: 8px solid #FDD000;
}

/* Block editor - button */
.entry-content .is-style-default-larger a img {
	-webkit-box-shadow: none;
	        box-shadow: none;
	margin: 10px auto 0;
}

.entry-content .is-style-default-larger a {
	font-size: 18px;
	line-height: 120%;
	padding: 20px;
	width: 100%;
	max-width: 300px;
	min-height: 160px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	vertical-align: bottom;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	color: #ffffff;
	border-radius: 10px 10px 0 10px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	background: linear-gradient(145DEG,#7BC16D,#20AB41);
	max-width: inherit;
	min-height: 180px;
	transition: all .2s ease-in-out;
}

.entry-content .is-style-default-larger a:hover {
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
	opacity: .9;
	transform: scale(1.02);
}

/* Block editor - fact counts blocks */
.fact-counts {
	background-color: #7bc16d;
	color: white;
	border-radius: 5px;
	padding: 20px 0 0;
}

/* Block editor - code block */
.wp-block-code {
	padding: 20px;
	background-color: #E5E6E6;
}

.wp-block-code code {
	white-space: normal;
}

/* Block editor - highlight box */
.highlight-box {
	line-height: 110%;
	border-radius: 10px;
	border: 3px solid #20ab41;
	font-weight: 700;
}

.highlight-box strong {
	font-size: 42px;
	line-height: 56px;
}

/* Block editor - quick links */
.fixed-quick-link {
	position: fixed;
	top: 40%;
	top: 40vh;
	right: 0;
	display: inline-block;
	z-index: 99;
	background-color: #bfdead;
	padding: 10px 10px 10px 30px;
	border-radius: 3px 0 0 3px;
}

.fixed-quick-link-label {
	position: absolute;
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
/* 	top: 0; */
	bottom: 40px;
	white-space: nowrap;
/* 	left: 0; */
	right: 15px;
	text-transform: uppercase;
	font-weight: bold;
	pointer-events: none;
/* 	color: white; */
}

.fixed-quick-link a {
	display: block;
	-webkit-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	line-height: 0;
}

.fixed-quick-link a:not(:last-child) {
	margin-bottom: 5px;
}

.fixed-quick-link a:hover {
/* 	zoom: 1; */
	filter: alpha(opacity=80);
	opacity: .8;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.fixed-quick-link img {
	width: 32px;
	height: auto;
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
}

/* Block editor - seperator */
.language-tag {
	position: relative;
	margin: 60px 0;
}
.language-tag:before {
	content: "";
	display: inline-block;
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
  top: calc( 50% - 3px);
	height: 3px;
	background-color: #6b9bd2;
}
.language-tag code {
	font-family: 'Roboto', 'Noto Sans TC', sans-serif;
	font-size: 16px;
	font-weight: bold;
	background-color: white;
	color: #6b9bd2;
	padding: 6px 10px;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 1px !important;
	position: relative;
}
.language-tag code .dashicons {
	font-size: 24px;
	height: auto;
	width: auto;
}

/* Block editor - blockquote */
.entry-content blockquote.is-style-info {
	position: relative;
	background-color: #bbcce9;
	border-radius: 5px;
	padding: 1rem 1rem 1rem calc(2rem + 37px);
	font-style: normal;
	font-size: 1rem;
	color: #4b4848;
  border: 0;
}

.wp-block-quote.is-style-info:not(.is-large):not(.is-style-large) {
  border: 0;
  padding: 0;
  padding: 1rem 1rem 1rem calc(2rem + 37px);
}

.entry-content blockquote.is-style-info a {
  color: #0068B6;
}

@media screen and (min-width:768px) {
	.entry-content blockquote.is-style-info {
		padding: 2rem 2rem 2rem calc(3rem + 37px);
	}
  .wp-block-quote.is-style-info:not(.is-large):not(.is-style-large) {
    border: 0;
    padding: 0;
    padding: 2rem 2rem 2rem calc(3rem + 37px);
  }
}

.entry-content blockquote.is-style-info:before {
	content: "!";
	font-family: 'Roboto', 'Noto Sans TC', sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: #fff;
	background-color: #6b9bd2;
	border-radius: 100%;
	height: 37px;
	width: 37px;
	line-height: 58px;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: start;
	-webkit-box-align: start;
	        align-items: flex-start;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	        justify-content: center;
	position: absolute;
	left: 1rem;
}

@media screen and (min-width:768px) {
	.entry-content blockquote.is-style-info:before {
		left: 2rem;
	}
}

.entry-content blockquote.is-style-info>* {
	margin-top: 0;
	margin-bottom: 0;
}

.entry-content blockquote.is-style-info>*+.entry-content blockquote.is-style-info>* {
	margin-top: 1em;
}

/* Blog editor - separator */
.wp-block-separator:not(.is-style-wide):not(.is-style-dots):not(.is-style-building):not(.is-style-full) {
	border: 0;
	background: none;
	max-width: 450px;
	background-image: url(https://2019.taipei.wordcamp.org/files/2019/08/footer-sep-mobile.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 8%;
}
.wp-block-separator.is-style-wide {
	border: 0;
	background: none;
	background-image: url(https://2019.taipei.wordcamp.org/files/2019/08/footer-sep-02.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 8%;
}
.wp-block-separator.is-style-dots {
	border-bottom: 5px dotted #FDD000;
}
.wp-block-separator.is-style-dots:before {
	display: none;
}
.wp-block-separator.is-style-full {
	border: 0;
	background: none;
	background-image: url(https://2019.taipei.wordcamp.org/files/2019/08/footer-sep-03.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 10%;
	max-width: 100% !important;
}
.wp-block-separator.is-style-building {
	border: 0;
	background: none;
	background-image: url(https://2019.taipei.wordcamp.org/files/2019/08/footer-sep-04.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 15%;
	max-width: 100% !important;
}
@media screen and (max-width: 450px) {
	.wp-block-separator:not(.is-style-wide):not(.is-style-dots):not(.is-style-building):not(.is-style-full) {
		padding-top: 12%;
	}
  .wp-block-separator.is-style-wide {
    background-image: url(https://2019.taipei.wordcamp.org/files/2019/08/footer-sep-mobile-02.png);
		padding-top: 12%;
  }
	.wp-block-separator.is-style-full {
		background-image: url(https://2019.taipei.wordcamp.org/files/2019/08/footer-sep-mobile-03.png);
		padding-top: 12%;
	}
	.wp-block-separator.is-style-building {
		background-image: url(https://2019.taipei.wordcamp.org/files/2019/08/footer-sep-mobile-04.png);
		padding-top: 36%;
	}
}

/*sponer*/
.wordcamp-image__featured-image-container.wordcamp-sponsors__featured-image.wordcamp-sponsors__logo.align-none {
	text-align: center;
	padding: 10px 0;
}

.wordcamp-image__featured-image-container.wordcamp-sponsors__featured-image.wordcamp-sponsors__logo.align-none a {
	background: none;
}

ul.wordcamp-block.wordcamp-post-list.has-layout-list.wordcamp-sponsors {
	border: 1px solid #bbcce9;
	margin-bottom: 0;
	padding: 20px 20px 10px;
	margin-left: 0;
}

li.wordcamp-post-list__post.wordcamp-clearfix {
	border-bottom: 1px solid #bbcce9;
	margin-bottom: 10px;
}

li.wordcamp-post-list__post.wordcamp-clearfix:last-child {
	border-bottom: 0 solid #bbcce9;
	margin-bottom: 0;
}

.page-slug-sponsors.page .site-main {
	padding: 0;
}

.slug-yuan-jhen-info img.wordcamp-image__featured-image.wp-post-image {
	max-width: 100%;
}

@media screen and (min-width:768px) {
	.slug-yuan-jhen-info img.wordcamp-image__featured-image.wp-post-image {
		max-width: 200px;
	}

	.wordcamp-image__featured-image-container.wordcamp-sponsors__featured-image.wordcamp-sponsors__logo.align-none {
		text-align: center;
		padding: 20px 0 30px;
	}

	.wordcamp-image__featured-image-container.wordcamp-sponsors__featured-image.wordcamp-sponsors__logo.align-none a {
		background: none;
	}

	ul.wordcamp-block.wordcamp-post-list.has-layout-list.wordcamp-sponsors {
		border: 1px solid #bbcce9;
		margin-bottom: 20px;
		padding: 20px 35px;
	}

	li.wordcamp-post-list__post.wordcamp-clearfix {
		border-bottom: 1px solid #bbcce9;
		margin-bottom: 20px;
	}
}

/* sponsors頁面 隱藏logo */
.page-slug-sponsors .sponsors_main_page_logo {
	display: none;
}

/* sponsors頁面 贊助商大標修改 */

.page-slug-sponsors  .wordcamp-sponsors__content h2 {
	border-left: 5px solid #fdd000;
	color: #0068b6;
	padding: 0 0 0 10px;
	font-size: 22px;
}

.page-slug-sponsors  .wordcamp-sponsors__content h2:before {
	display: none;
}

.page-slug-sponsors  .wordcamp-sponsors__content h3 {
	border-left: 0 solid #fdd000;
	color: #0068b6;
	padding: 0;
	font-size: 20px;
}

/* Home_about section*/
#panel2 .wrap {
	padding: 0;
	margin: 0;
  max-width: none;
}

article#panel2 .wp-block-columns.has-2-columns.row-full-width.about_bg {
	background-color: #dffdff;
  background-image: url(https://2019.taipei.wordcamp.org/files/2019/08/about_bg_h500.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 20px;
}

article#panel2 .wp-block-column.row-bg-wapu {
  margin: 0;
  text-align: center;
}

article#panel2 .wp-block-image figure.alignright {
	width: 100%;
}

article#panel2	.wp-block-column.row-right {
  margin: 0;
  text-align: center;
}

.wp-block-column.row-right .has-text-color {
  padding-top: 0px;
  margin: 10px;
  font-size: 16px;

  background-color: #dffdff;
  border: 8px solid #dffdff;
  outline: 2px solid #adeef3;
  outline-offset: -2px;
}


@media (min-width: 600px) {

	article#panel2 .wp-block-columns.has-2-columns.row-full-width.about_bg {
    background: none;
	  background-color: #dffdff;
    padding: 0;
    max-width: 860px;
    margin: 0 auto;
  }
  article#panel2 .wp-block-columns.has-2-columns.row-full-width.about_bg:before {
    background-image: url('https://2019.taipei.wordcamp.org/files/2019/08/about_bg_h174.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 55%;
    content: "";
    display: inline-block;
  }

	article#panel2 {
	  background-color: #dffdff;
  }

	article#panel2 .wp-block-column.row-bg-wapu {
  	text-align: right;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 150px;
  }


	article#panel2	.wp-block-column.row-right {
  	padding: 20px 0 0;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  article#panel2 .wp-block-column.row-right:before {
    background-image: url('https://2019.taipei.wordcamp.org/files/2019/08/dialog_box_bg3.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 100%;
    content: "";
    display: inline-block;
    z-index: -1;
  }

	.wp-block-column.row-right .has-text-color {
		font-size: 16px;
    background-color:transparent;
    border:none;
    outline:0;
	}
  .wp-block-column.row-right 	.home_about_but a {
    margin: 0;
  }
}

@media (min-width: 1024px) {
	.wp-block-column.row-right .has-text-color {
		font-size: 18px;
	}
}

/* Block editor - blockquote */
.wp-block-pullquote:not(.is-style-solid-color) {
  background-image: url('https://2019.taipei.wordcamp.org/files/2019/08/about_bg_h500.png');
  background-color: #dffdff;
  /* border: 5px dotted #FDD000; */
  border: 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.wp-block-pullquote:not(.is-style-solid-color) blockquote {
  background-color: #dffdff;
  border: 3px solid #BAE8F3;
  /* background-color: #FFF4CC;
  border: 3px solid #FFE792; */
  border-radius: 10px;
  padding: 20px;
}
.wp-block-pullquote:not(.is-style-solid-color) blockquote p {
  color: #4B4848;
  margin-bottom: 20px;
  font-style: normal;
}
.wp-block-pullquote:not(.is-style-solid-color) blockquote cite {
  color: #4B4848;
  text-transform: none;
}
.wp-block-pullquote:not(.is-style-solid-color).row-full-width blockquote {
  max-width: 680px;
  margin: 0 auto;
}

/* Block editor - pullquote */
.wp-block-pullquote.is-style-solid-color p {
  color: #4B4848;
  font-style: normal;
}
.wp-block-pullquote.is-style-solid-color cite {
  color: #4B4848;

}

/* Block editor - column vertical align */
.wp-block-column.column-vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
