@media screen and (max-width: 768px) {
	.page .site-main {
		padding: 0 20px;
	}
}
/* homepage panel styling */
.page.twentyseventeen-front-page .twentyseventeen-panel .wrap > .entry-header {
	display: none;
}
.twentyseventeen-panel:first-child {
	display: none;
}
.twentyseventeen-front-page article:not(.has-post-thumbnail):not(:first-child) {
  border: 0;
}
.home_info_title {
  font-size: 45px;
  color: #0068b6;
}

.home_info_sub {
  font-size: 30px;
  padding: 0px;
  margin: 15px 0px;
  color: #6b9bd2;
}

/* 首頁about 區塊移除 dotted line*/
.twentyseventeen-front-page article#panel1, .twentyseventeen-front-page article#panel2 {
	border-bottom: 0;
	border-top:0;
}

/*網站整體內容區塊寬度*/
@media screen and (min-width: 1024px) {
	.twentyseventeen-panel:nth-child(2) .panel-content .wrap, .twentyseventeen-panel:nth-child(3) .panel-content .wrap {
		padding-left: 3em;
		padding-right: 3em;
		max-width: 900px;
	}
}

/* page styling */
.entry-header {
  text-align: center;
}
.post-navigation .nav-subtitle, .single-featured-image-header {
  display: none;
}

/* Block editor - extend row */
.row-full-width {
	width: 100vw;
	margin-left: calc(-50vw + 50%);
}

.row-full-width .wp-block-embed-wordpress {
	text-align: center;
}

@media screen and (min-width: 1024px) {
	.row-extend-width {
		width: 80vw;
		margin-left: calc(-40vw + 50%);
	}

	.row-extend-width .wp-block-embed-wordpress {
		text-align: center;
	}
}

/*網站各個按鈕樣式*/
.entry-content .wp-block-button__link {
	background-color: #23459A;
	border: 2px solid #060606;
	border-radius: 10px;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 1;
	margin-top: 20px;
	padding: .75em 2em;
	text-decoration: none;
	color: #ffffff;
	transition: all .2s ease-in-out;
	margin-right: 20px;
}

.entry-content .wp-block-button__link:last-child {
	margin-right: 0;
}

/*網站單獨按鈕樣式*/
.entry-content .wp-block-button__link:hover,
.entry-content .wp-block-button__link:focus,
.entry-content .is-style-outline .wp-block-button__link:not(.has-background):hover,
.entry-content .is-style-outline .wp-block-button__link:not(.has-background):focus {
	/* background-color: #7BC16D; */
	background-color: #3355AA;
	color: white;
	opacity: .9;
	transform: scale(1.04);
}

a.wp-block-button__link:active {
	background-color: #3355AA;
}
