.wctpe-timeline .wctpe-timeline-items {
  margin: 0;
}

.wctpe-timeline .wctpe-timeline-item {
  display: flex;
  /* align-items: center; */
  position: relative;

}
.wctpe-timeline .wctpe-timeline-item > * {
  flex: 1 0 50%;
}

.wctpe-timeline .wctpe-timeline-date {
  color: #0067b6;
  font-weight: bold;
  font-size: 36px;
  text-align: right;
  position: relative;
  padding-right: 40px;
}

.wctpe-timeline .wctpe-timeline-agenda {
  margin: 0;
}
.wctpe-timeline .wctpe-timeline-agenda-items {
  padding-left: 40px;
  position: relative;
  list-style: none;
  padding-bottom: 40px;
  margin-left: 20px;
}

.wctpe-timeline .wctpe-timeline-agenda-item {
  background-color: #0067b6;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 10px;
  line-height: 120%;
}
.wctpe-timeline .wctpe-timeline-date:after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -20px;
  top: 15px;
  /* transform: translateY(-50%); */
  width: 17px;
  height: 17px;
  border: 2px solid #4B4848;
  border-radius: 50%;
  background-color: #4B4848;
  z-index: 2;
}
.wctpe-timeline .wctpe-timeline-item:first-child .wctpe-timeline-date:first-child:after {
  background-color: white;
}
.wctpe-timeline .wctpe-timeline-item:last-child .wctpe-timeline-date:first-child:after {
  border-radius: 0;
}
.wctpe-timeline .wctpe-timeline-agenda-items:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #4B4848;
}
.wctpe-timeline .wctpe-timeline-item:first-child .wctpe-timeline-agenda-items:before {
  top: 15px;
}
.wctpe-timeline .wctpe-timeline-item:last-child .wctpe-timeline-agenda-items:before {
  top: 0;
  height: 15px;
}
.wctpe-timeline .wctpe-timeline-agenda-item.wctpe-timeline-agenda-item-link {
  padding: 0;
  background: none;
}
.wctpe-timeline .wctpe-timeline-agenda-item.wctpe-timeline-agenda-item-link a {
  padding: 10px 20px;
  display: inline-block;
  background-color: #1FAC43;
	color: #fff;
	border-radius: 5px;
	font-weight: 800;
	/* font-size: 14px; */
	/* line-height: 1; */
	/* padding: 1em 2em; */
	text-decoration: none;
	color: #ffffff;
	border-radius: 10px 10px 10px 0;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	background: linear-gradient(145DEG,#7BC16D,#20AB41);
	transition: all .2s ease-in-out;
}
.wctpe-timeline .wctpe-timeline-agenda-item.wctpe-timeline-agenda-item-link a:hover {
  background: linear-gradient(145DEG,#7BC16D,#20AB41);
  color: white;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
  opacity: .9;
  transform: scale(1.04);
}

@media screen and (max-width: 450px) {
  .wctpe-timeline .wctpe-timeline-item {
    flex-direction: column;
  }
  .wctpe-timeline .wctpe-timeline-date {
    text-align: left;
    font-size: 28px;
    padding-right: 0;
    padding-left: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
  }
  .wctpe-timeline .wctpe-timeline-date:after {
    left: -20px;
  }
  .wctpe-timeline .wctpe-timeline-date:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -13px;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #4B4848;
  }
  .wctpe-timeline .wctpe-timeline-item:last-child .wctpe-timeline-date:before {
    bottom: inherit;
    height: 15px;
  }
  .wctpe-timeline .wctpe-timeline-item:last-child .wctpe-timeline-agenda-items:before {
    height: 0;
  }
  .wctpe-timeline .wctpe-timeline-item:first-child .wctpe-timeline-agenda-items:before {
    top: 0;
  }
  .wctpe-timeline .wctpe-timeline-item:first-child .wctpe-timeline-date:before {
    top: 15px;
  }
  .wctpe-timeline .wctpe-timeline-agenda-items:before {
    left: -13px;
  }
}
