body,
button,
input,
select,
textarea,
html[lang^="zh-"] body,
html[lang^="zh-"] button,
html[lang^="zh-"] input,
html[lang^="zh-"] select,
html[lang^="zh-"] textarea {
	font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

p {
	color: #4B4848;
}

ol,ul {
	margin-left: 2em;
}

a, .nav-title a, .entry-content a, .entry-meta a {
	text-decoration: none;
	color: #6b9bd2;
	box-shadow: none;
}
.entry-content a, .widget.widget_categories a, .widget.widget_recent_entries a, .widget.widget_recent_comments a, .widget.widget_archive a {
	background: linear-gradient(transparent 60%,#FFF4CC 0);
}
a:hover, .nav-title a:hover, .entry-meta a:hover {
	color: #0068B6;
	/* box-shadow: inset 0 0 0 rgba(0, 104, 182, 0), 0 3px 0 rgba(0, 104, 182, 1); */
	box-shadow: none;
}
.entry-content a:hover, .widget.widget_categories a:hover, .widget.widget_recent_entries a:hover, .widget.widget_recent_comments a:hover, .widget.widget_archive a:hover {
	color: #0068B6;
	box-shadow: none;
	border: 0;
	background: linear-gradient(transparent 60%,#FFE792 0);
}

h1:not(.site-title):not(.home_info_title), h1.entry-title:not(:first-child), .page .panel-content .entry-title, .page-title, body.page:not(.twentyseventeen-front-page) .entry-title, .site-footer .widget-column.footer-widget-1 h2.widget-title {
	background-color: #0068b6;
	color: white;
	display: inline-block;
	padding: 10px 35px;
	border-radius: 10px;
	position: relative;
	font-size: 28px;
	margin-bottom: 40px;
	text-align: center;
	text-transform: none;
	letter-spacing: 1px !important;
}
h1:not(.site-title):not(.home_info_title):after, .site-footer .widget-column.footer-widget-1 h2.widget-title:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 20px;
	border-color: transparent transparent transparent #0067b6;
	position: absolute;
	right: 15px;
	bottom: -20px;
	transform: rotate(15deg);
}

h2:not(.widget-title):not(.home_info_sub), h4.sponsor-level-title {
	color: #6b9bd2;
	font-size: 28px;
}

h2:not(.widget-title):not(.home_info_sub):before, h4.sponsor-level-title:before {
	content: '';
	display: inline-block;
	width: 32px;
	height: 20px;
	background-image: url(https://2019.taipei.wordcamp.org/files/2019/08/wctpe-2019-icons-title.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}
h2.entry-title a {
	color: #6b9bd2;
}
h2.entry-title a:hover {
	color: #0067b6;
	box-shadow: none;
	background: linear-gradient(transparent 60%,#FFE792 0);
}

.wcorg-organizer h2::before {
	display: none;
}

h3:not(.sd-title) {
	border-left: 5px solid #FDD000;
	color: #0068b6;
	padding: 0 0 0 10px;
	font-size: 22px;
}

h4:not(.sponsor-level-title), h5, h6, p, ul, ol, li {
	color: #717071;
}

blockquote.wp-block-quote.is-style-info p {
	color: #4b4848;
}