body,
button,
input,
select,
textarea,
html[lang^="zh-"] body,
html[lang^="zh-"] button,
html[lang^="zh-"] input,
html[lang^="zh-"] select,
html[lang^="zh-"] textarea {
	font-family: 'Work Sans', 'Noto Sans TC', sans-serif;
}

p {
	color: #4B4848;
}

ol,ul {
	margin-left: 2em;
}

a, .nav-title a, .entry-content a, .entry-meta a {
	text-decoration: none;
	color: #6b9bd2;
	box-shadow: none;
}
.entry-content a, .widget.widget_categories a, .widget.widget_recent_entries a, .widget.widget_recent_comments a, .widget.widget_archive a {
	background: linear-gradient(transparent 60%,#FFF4CC 0);
}
a:hover, .nav-title a:hover, .entry-meta a:hover {
	color: #0068B6;
	/* box-shadow: inset 0 0 0 rgba(0, 104, 182, 0), 0 3px 0 rgba(0, 104, 182, 1); */
	box-shadow: none;
}
.entry-content a:hover, .widget.widget_categories a:hover, .widget.widget_recent_entries a:hover, .widget.widget_recent_comments a:hover, .widget.widget_archive a:hover {
	color: #0068B6;
	box-shadow: none;
	border: 0;
	background: linear-gradient(transparent 60%,#FFE792 0);
}

h1:not(.site-title):not(.home_info_title), h1.entry-title:not(:first-child), .page .panel-content .entry-title, .page-title, body.page:not(.twentyseventeen-front-page) .entry-title, .site-footer .widget-column.footer-widget-1 h2.widget-title {
	background-color: none;
	color: #000;
	display: inline-block;
	padding: 10px 35px;
	border-radius: 10px;
	position: relative;
	font-size: 28px;
	margin-bottom: 40px;
	text-align: center;
	text-transform: none;
	letter-spacing: 1px !important;
}
h1.entry-title {
	display: none;
}
/* h1:not(.site-title):not(.home_info_title):after, .site-footer .widget-column.footer-widget-1 h2.widget-title:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 20px;
	border-color: transparent transparent transparent #0067b6;
	position: absolute;
	right: 15px;
	bottom: -20px;
	transform: rotate(15deg);
} */
.page-header{
	display:none;
}

h2:not(.widget-title):not(.home_info_sub),
h4.sponsor-level-title {
	display: flex;
	align-items: center;
	color: #000;
	font-size: 28px;
}

h2:not(.widget-title):not(.home_info_sub):before,
h4.sponsor-level-title:before {
	content: '';
	display: inline-block;
	width: 28px;
	height: 37px;
	background-image: url(https://taiwan.wordcamp.org/2021/files/2021/09/vector-38.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 25px;
}

h2.heading-green:not(.widget-title):not(.home_info_sub):before,
h4.heading-green:before {
	background-image: url(https://taiwan.wordcamp.org/2021/files/2021/09/heading-green.png);
}

h2.heading-yellow:not(.widget-title):not(.home_info_sub):before,
h4.heading-yellow:before {
	background-image: url(https://taiwan.wordcamp.org/2021/files/2021/09/heading-yellow.png);
}

h2.entry-title a {
	color: #6b9bd2;
}
h2.entry-title a:hover {
	color: #0067b6;
	box-shadow: none;
	background: linear-gradient(transparent 60%,#FFE792 0);
}

.wcorg-organizer h2::before {
	display: none;
}

h3:not(.sd-title) {
	color: #000;
	font-size: 28px;
	padding: 0 0 0 10px;
	margin-bottom: 10px;
}

h4:not(.sponsor-level-title), h5, h6, p, ul, ol, li {
	color: #717071;
}

blockquote.wp-block-quote.is-style-info p {
	color: #4b4848;
}
.EN {
	font-family: "Work Sans";
	line-height: 1.5;
	font-weight: normal;
}

	.EN h1 {
		font-size: 48px;
	}

	.EN h2 {
		font-size: 36px;
	}

	.EN h3 {
		font-size: 28px;
	}

	.EN h4 {
		font-size: 24px;
	}

	.EN h5 {
		font-size: 18px;
	}

	.EN h6 {
		font-size: 16px;
	}

	.EN p {
		font-size: 16px;
	}

.CHT {
	font-family: 'Noto Sans TC';
	line-height: 1.8;
	font-weight: normal;
}

	.CHT h1 {
		font-size: 48px;
	}

	.CHT h2 {
		font-size: 36px;
	}

	.CHT h3 {
		font-size: 28px;
	}

	.CHT h4 {
		font-size: 24px;
	}

	.CHT h5 {
		font-size: 18px;
	}

	.CHT h6 {
		font-size: 16px;
	}

	.CHT p {
		font-size: 16px;
	}

<<<<<<< Updated upstream
.shadow,
.entry-content a.shadow {
	box-shadow: 0px 4px;
}

=======
>>>>>>> Stashed changes
.pencil::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/Group-1.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
}

.cup::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/Group-2.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.mountain::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/Group-3.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.bottle::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/Group-4.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.earth::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/Group-5.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.computer::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/Group-6.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.boy::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/Group-7.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.house::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/Group-8.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.cloud::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-1.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.fan::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-2.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.circle::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-3.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.halfoval::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-4.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.float::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-5.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.blu-tri::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-6.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.phone::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-7.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.screen::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-8.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.pad::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-9.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.mail::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-12.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.star::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-13.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.pentagon::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-14.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.halfcircle::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-15.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.trapezoid::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-16.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.quartercircle::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-17.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.uparrow::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-18.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.net::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-19.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.pad2::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-20.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.screen1::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-21.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.star1::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-25.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.twostar::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-26.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.donut::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-27.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.slide::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-28.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.redsquare::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-29.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.house::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-30.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.house1::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-31.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.glass::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-33.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.oval::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-37.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.hash::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-38.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.stick::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-39.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.l-brackets::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-40.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	-moz-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	transform: scaleY(-1);
	background-repeat: no-repeat;
	margin-right: 10px;
}

.r-brackets::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-40.png");
	content: "";
	display: inline-block;
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.many-star::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-41.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.clock::before {
	background-image: url("https://taiwan.wordcamp.org/2021/files/2021/09/vector-42.png");
	content: "";
	display: inline-block;
	width: 64px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.yellowbtn {
	width: 150px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	background-color: #fdd708;
	border: black 2px solid;
	border-radius: 15px;
}

.bluebtn {
	width: 150px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #23459a;
	border: black 2px solid;
	border-radius: 15px;
<<<<<<< Updated upstream
}

@media screen and ( min-width: 48em ) {
	.wrap {
		max-width: 1064px;
	}
	
}
=======
}
>>>>>>> Stashed changes
